<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>repl.it</title>
    <link href="/static/style.css" rel="stylesheet" type="text/css" />
    <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
  </head>
  <body>
    <div id="wrapper">
      <h4>I'm thinking of a number between 1 and 100. Guess what it is!</h4>

      <input type="text" id="guess">
      <button id="guess-btn" value="Guess">Guess</button>

      <div id="message"></div>
      <img id="icon"/>
    </div>

   </script>
<script src="/static/script.js"></script>
  </body>
</html>
